body{
  background-color: teal;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  font-size: 3em;
  text-align: center;
  color: salmon;
}
h2{
  font-size: 2em;
}
main img{
  display: block;
  margin: auto;
}
#cookie-table{
  border: 10px solid black;
  width: 90%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
table{
  background-color: teal;
  /* border: 5px solid turquoise; */
  width: 100%;
  border-radius: 10px;
  margin: auto;
  
}

th{
  background-color: indianred;
  border: 5px solid turquoise;
  color: black;
  vertical-align: middle;
  text-align: center;
  width: 6.25%;
  padding-top: 1%;
  padding-bottom: 1%;
}
td{
  border: 5px solid turquoise;
  text-align: center;
  vertical-align: middle;
  width: 6.25%;
  /* padding-top: 2%;
  padding-bottom: 2%; */
}
footer{
  font-size: 2em;
  text-align: center;
}