body{
  background-color: teal;
  color: salmon;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
article{
  border-radius: 10px;
  margin: 2%;
  padding: 2%;
  background-color: black;
  width: 50%;
}
ul {
  background-color: seagreen;
  padding: 2%;
  list-style: circle;
  list-style-position: inside;
  margin: 2%;
}
ul li{
  font-size: 1.2em;
  line-height: 150%;
}