body{
  background-color: teal;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  flex-shrink: 0;
}
header{
  width: 100%;
}

h1{
  font-family: 'Bree Serif', serif;
  font-size: 3em;
  height: 5%;
  min-height: 50px;
  display: flex;    
  align-items: center;
  justify-content: end;
  background-color: indianred;
  color: white;
}
h2{
  font-family: 'Courgette', cursive;
  font-size: 2em;
}
p, li, a{
  font-family: 'Bree Serif', serif;
}
nav{
  height: 10%;
  min-height: 100px;
  padding: 10px;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
nav a{
  margin-left: 30px;
}
main{
  background-color: teal;
  margin-bottom: 30px;
}

#section1{
  font-size: 2em;
  background-color: indianred;
  padding: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


#section2 article{
  width: 80%;
  min-width: 80%;
  background-color: indianred;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
font-size: 2em;
}

#section2 article p{
  padding: 50px;
}

#section3{
  margin-top: 50px;
  text-align: center;
}

#section3 p{
  margin-bottom: 20px;
  font-size: 2em;
}

footer{
  padding-right: 10px;
  line-height: 1.2;
  display: flex;
  justify-content: space-between;
  color: wheat;
  font-size: 1.8em;
  background-color: black;
}